<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details about image</title>
</head>
<body>
    <html>
        <body>
                <P> hELLO </P>
            <h2>Here are all the users:</h2>
            <%= JSON.stringify(cat) %>
            

            
               
                <h3> Favorite Food: <%=cat['favorite_food'] %></h3>
                <h4> Age : <%= cat['Age'] %></h4>
                <h4> Sleeping Spot : <%= cat['sleeping_spot'] %></h4>
                <hr />
        </body>
      
        </html>
        
</body>
</html>