<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1> Here are the some of the Quotes</h1>

    <% for (var x in info) { %>
        <h4>"<%= info[x].quote %> "</h4>
        <h3> <%= info[x].name %>  at  </h3>
        <h3> <%= info[x].updatedAt %>   </h3>
        
        <hr>
    <% } %>
</div>
</body>
</html>